In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import pandas_datareader.data as reader

In [2]:
data = reader.get_data_yahoo('LVGO')
df = data.reset_index()
# df['Date']
df

,Date,High,Low,Open,Close,Volume,Adj Close
0,2019-07-25,45.459999,37.740002,40.509998,38.099998,14798200,38.099998
1,2019-07-26,40.500000,37.259998,37.750000,38.119999,2633100,38.119999
2,2019-07-29,42.000000,38.223000,38.840000,41.630001,1410600,41.630001
3,2019-07-30,42.799999,40.099998,41.459999,41.000000,910400,41.000000
4,2019-07-31,45.680000,41.110001,41.110001,44.250000,2864600,44.250000
...,...,...,...,...,...,...,...
318,2020-10-27,144.119995,137.910004,138.139999,142.889999,1387600,142.889999
319,2020-10-28,147.839996,140.570007,141.320007,145.399994,2393600,145.399994
320,2020-10-29,145.910004,137.520004,140.449997,139.770004,9121500,139.770004
321,2020-10-30,139.770004,139.770004,139.770004,139.770004,0,139.770004
322,2020-11-02,139.770004,139.770004,139.770004,139.770004,0,139.770004

In [3]:
# df[["Date","Close"]]

In [4]:
# Select only the important features i.e. the date and price
df = df[["Date","Close"]] # select Date and Price
# Rename the features: These names are NEEDED for the model fitting
df = df.rename(columns = {"Date":"ds","Close":"y"}) #renaming the columns of the dataset
df.head(5)

          ds          y
0 2019-07-25  38.099998
1 2019-07-26  38.119999
2 2019-07-29  41.630001
3 2019-07-30  41.000000
4 2019-07-31  44.250000

In [ ]:
from fbprophet import Prophet
m = Prophet(daily_seasonality = True) # the Prophet class (model)
m.fit(df) # fit the model using all data

Importing plotly failed. Interactive plots will not work.
INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [ ]:
future = m.make_future_dataframe(periods=30) #we need to specify the number of days in future
prediction = m.predict(future)
m.plot(prediction)
plt.title("Prediction of the Google Stock Price using the Prophet")
plt.xlabel("Date")
plt.ylabel("Close Stock Price")
plt.show()

In [1]:
m.plot_components(prediction)
plt.show()

NameError: name 'm' is not defined